
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);   
  gap: 10px; 
  width: 200px; 
  height: 200px; 
  margin-left: 50px;
}

.txt{
  color: white;
  width: 560px; 
  height: 319px;
  background-color: #2395ED;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}